*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

@layer base {
  :root {
    --color-white: white;
    --color-blue: #1992d4;
    --color-yellow: #f0b429;
    --color-bg: #e2e8f0;

    --font-family: "roboto", sans-serif;
  }
}

.left-column {
  background-color: var(--color-blue);
}

.bottom-row {
  background-color: var(--color-bg);
}

@layer layout {
  .wrapper-grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
  }

  .left-column {
    display: grid;
    grid-template-rows: repeat(
      auto-fit,
      minmax(100px, 120px) minmax(300px, 400px) minmax(150px, 200px)
    );
    color: var(--color-white);
    row-gap: 2rem;
  }

  .right-column {
    display: grid;
    grid-template-rows: 1fr 4fr;
  }

  .top-row {
    display: grid;
    gap: 1rem;
  }

  .searchbar-wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }

  .profile-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .bottom-row {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }

  .projects-wrapper {
    margin: 1rem;
  }

  .projects-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .project {
    background-color: var(--color-white);
    padding: 1rem;
  }

  .side-content-wrapper {
    display: grid;
    grid-template-rows: 50px 1fr 50px 1fr;
    padding: 1rem;
  }

  .announce-container {
    background-color: var(--color-white);
  }
  .trending-profile {
    background-color: var(--color-white);
  }
}

@layer dashboard {
  .logo-dashboard-container {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-left: 1rem;
  }

  .nav-wrapper,
  .nav-bottom-wrapper {
    display: grid;
  }

  .nav {
    display: flex;
    padding-left: 1rem;
    gap: 1rem;
  }

  .logo {
    filter: invert(1);
  }
}
